{% extends 'app/layout.html.twig' %}
{% block header %}{% endblock %}
{% block content %}
    <div class="container">

        <h3 style="text-align:center">{{ title }}</h3>
        <br>
        <div class="center-align">
        <a class="btn" href="{{ path('app_back1') }}">1</a>
        <a class="btn" href="{{ path('app_back2') }}">2</a>
        <a class="btn" href="{{ path('app_back3') }}">3</a>
        <a class="btn" href="{{ path('app_back4') }}">4</a>
        <a class="btn" href="{{ path('app_back5') }}">5</a>
        <a class="btn" href="{{ path('app_back6') }}">6</a>
        </div>
        {% for stat in stats %}
            <div align="center">
                <table style="text-align:center" border="1">
                    {# <tr>
                         <th>Firstname</th>
                         <th>Lastname</th>
                     </tr> #}

                    {% for data in stat %}
                        <tr>
                            <td>{{ data.name }}</td>
                            <td>{{ data.number }} %</td>

                        </tr>
                    {% endfor %}
                </table>
                <br>
                <br>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {#  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
      <script src="https://code.highcharts.com/highcharts.js"></script>
      <script src="https://code.highcharts.com/modules/exporting.js"></script>
      <script type="text/javascript">
          $(document).ready(function () {
              {% for stat in stats %}
              // Build the chart
              Highcharts.chart('container', {
                  chart: {
                      plotBackgroundColor: null,
                      plotBorderWidth: null,
                      plotShadow: false,
                      type: 'pie'
                  },
                  title: {
                      text: 'Test'
                  },
                  tooltip: {
                      pointFormat: '</b>'
                  },
                  plotOptions: {
                      pie: {
                          allowPointSelect: true,
                          cursor: 'pointer',
                          dataLabels: {
                              enabled: false
                          },
                          showInLegend: true
                      }
                  },
                  series: [
                          {% for data in stat %}
                      {
                      name: 'Test',
                      colorByPoint: true,
                      data: [{
                          name: {{ data.name }},
                          y: {{ data.number }}
                      }, {
                          name: 'Chrome',
                          y: 0.1,
                          sliced: true,
                          selected: true
                      }]
                      {% endfor %}
                  }]
              });
              {% endfor %}
          });

      </script> #}
{% endblock %}

